.preview {
    position: absolute;
    top: 60px;
    left: 290px;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    overflow: auto;

    transition: 0.2s left, 0.2s right;
    transition-timing-function: ease-in-out;

}

.preview.disable {
    left: 0;
    right: 0;
}

.preview .desktop {
    width: 100%;
}

.preview .laptop {
    width: 1005px;
    margin: auto;
}

.preview .tablet {
    width: 780px;
    margin: auto;
}

.preview .mobile {
    width: 480px;
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    .preview {
        left: 0
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .preview {
        left: 260px;
    }
}


.paper {
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 14px 24px -6px #474d4730;
    background-color: white;
}

.paper .cf-node-selected {}

.paper .block:hover {
    outline: #42c184 solid 1px;
}

@media only screen and (min-width: 1400px) {
    .paper .container {
        max-width: 100%;
    }
}

.header {
    height: 60px;
    background: #202124;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.logo-container {
    width: 285px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
}

.button {
    padding: 10px 25px;
    color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #333333;
    transition: all 0.2s ease;
}

.button svg {
    stroke: #FFF
}

.button .icon {
    padding: 10px 15px;
}

.button:hover {
    background: #555555;
    transition: all 0.2 ease;
}

.screen-inner {
    display: flex;
    height: 100%;
}

.screen-inner div {
    display: flex;
    align-items: center;
    padding: 0px 12px;
    height: 100%;
    cursor: pointer;
}

.screen-inner div.selected {
    border-bottom: 2px solid #FFF;
    background-color: #333333;
    cursor: default;
}

.screen-inner div:hover {
    background: #333333;
}

.button-list {
    display: flex;
}

.button-list div {
    margin: 0px 3px;
}

.button-list div:last-child {
    margin-right: 0px;
}