.modal.show {
    display: block;
}

.modal-backdrop.show {
    opacity: 0.5 !important;
}

.preview-paypal-button .paypal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    gap: 4px;
    cursor: pointer;
}

.preview-paypal-button .paypal-label2 {
    font-size: 15px;
    margin-top: -2px;
    line-height: 20px;
}

.preview-paypal-button .label-pay {
    flex-direction: row-reverse;
}

.preview-paypal-button .color-gold {
    background-color: #ffc439;
    color: #000;
}

.preview-paypal-button .color-blue {
    background-color: #0070ba;
    color: #fff;
}

.preview-paypal-button .color-blue svg path, .preview-paypal-button .color-black svg path {
    fill: #fff;
}

.preview-paypal-button .color-silver {
    background-color: #eee;
    color: #000;
}

.preview-paypal-button .color-white {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.preview-paypal-button .color-black {
    background-color: #000;
    color: #fff;
}

.preview {
    background-color: #CCC;
    overflow: auto;

    transition: 0.2s left, 0.2s right;
    transition-timing-function: ease-in-out;

}

.preview.disable {
    left: 0;
    right: 0;
}

.preview .desktop {
    width: 100%;
}

.preview .laptop {
    width: 1005px;
    margin: auto;
}

.preview .tablet {
    width: 780px;
    margin: auto;
}

.preview .mobile {
    width: 480px;
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    .preview {
        left: 0
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .preview {
        left: 260px;
    }
}


.paper {
    margin: auto;
    /* border: 1px solid #eee; */
    box-shadow: 0 14px 24px -6px #474d4730;
    background-color: white;
}

.paper .cf-node-selected {}

.paper .block:hover {
    outline: #42c184 solid 1px;
    z-index: 1;
}

.paper .module.dynamic .module[data-parent="product"]:hover {
    outline: #9900FF solid 1px;
    z-index: 1;
}

.paper .module:hover {
    outline: #e82b71 solid 1px;
    z-index: 1;
}

.static:hover {
    outline: #f9c302 solid 1px;
    z-index: 1;
}

.paper .module.dynamic:hover {
    outline: #9900FF solid 1px;
    z-index: 1;
}

@media only screen and (min-width: 1400px) {
    .paper .container {
        max-width: 100%;
    }
}

.block__loader {
    width: 90%;
    border: none;
    outline: none;
    position: relative;
    box-shadow: 0 18px 40px hsla(231, 56%, 56%, .3);
    overflow: hidden;
    cursor: not-allowed;
    height: 10px;
}

.block__loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background:
        repeating-linear-gradient(-45deg, #b90c2b, #b90c2b 0.6rem, #f2395a 0.5rem, #f2395a 1.25rem);
    animation: load 0.4s infinite linear;
}

@keyframes load {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1.75rem);
    }
}

.button {
    padding: 10px 25px;
    color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #333333;
    transition: all 0.2s ease;
}

.button svg {
    stroke: #FFF
}

.button .icon {
    padding: 10px 15px;
}

.button:hover {
    background: #555555;
    transition: all 0.2 ease;
}

.screen-inner {
    display: flex;
    height: 100%;
}

.screen-inner div {
    display: flex;
    align-items: center;
    padding: 0px 12px;
    height: 100%;
    cursor: pointer;
}

.screen-inner div.selected {
    border-bottom: 2px solid #FFF;
    background-color: #333333;
    cursor: default;
}

.screen-inner div:hover {
    background: #333333;
}

.button-list {
    display: flex;
}

.button-list div {
    margin: 0px 3px;
}

.button-list div:last-child {
    margin-right: 0px;
}

.paper .cf-node-selected {}




.paper .block:hover {
    outline: #42c184 solid 1px;
}





.container {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
}

.paper .container {
    max-width: 100% !important;
    display: block;
}


.container:hover {
    outline: 1px solid #0060e5;
}


.sg-container:hover {
    outline: 1px solid #0060e5;
}


.container .container-toolbar {
    display: none;
}

.container-toolbar {
    display: none;
}

.container-toolbar-show {
    display: block !important;
}

.block {
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

.heading {
    width: 100%;
    position: relative;
}

.text-editor {
    position: relative;
}



.container .container-toolbar {
    display: none;
}

.container-toolbar-show {
    display: block !important;
}

ul.gf-tool {
    margin-bottom: 0;
    overflow: visible;

}

.gf-tool.gf-tool-show {
    visibility: visible;
    opacity: 1;

}

.gf-tool.hidden {
    visibility: hidden;
}

.t-handle {
    cursor: move;
}

.t-handle .preview {
    width: 100px;
    height: 100px;
    background: red;
    z-index: 2;
    position: absolute;
}

.t-handle .hidden {
    visibility: hidden;
}

.gf-tool.gf-e-tool,
.gf-tool.gf-e-tool li a {
    background: #42c184;
}

.gryffeditor ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.gf-tool {
    display: none;
}

.gf-tool,
.gf-tool li {
    float: left;
    display: flex !important;
    flex-wrap: nowrap;
    height: 30px;
}

.gf-tool {
    background: red;
    left: 50%;
    top: 50%;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: 3px;
    transform: translate(-50%, -50%) scale(.8);
}

.gf-delete,
.gf-tool {
    position: absolute;
    z-index: 11;
}

.gf-tool.gf-e-tool,
.gf-tool.gf-e-tool li a {
    background: #42c184;
}

.gf-tool li.t-handle a {
    width: auto;
    display: flex !important;
    flex-wrap: nowrap;
}

.gf-tool li a {
    display: block;
    float: left;
    text-decoration: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 26px;
    height: 30px;
    line-height: 30px;
    color: #fff !important;
    background: red;
    position: relative;
    cursor: pointer;
}

.gf-tool li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    white-space: nowrap;
}

.gf-tool,
.gf-tool li {
    float: left;
    display: flex !important;
    flex-wrap: nowrap;
    height: 30px;
}

.gf-tool li.t-handle span {
    display: inline-block;
    float: left;
    line-height: 30px;
    width: 26px;
    height: 30px;
    position: relative;
    cursor: move;
}

.gf-tool li.t-handle span svg {
    left: 6px;
    transform: translateY(-50%);
}

.gf-tool li a svg {
    fill: #fff !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    padding: 0 !important;
    width: 14px !important;
    height: 15px !important;
    vertical-align: initial !important;
}

.gf-tool li a svg path {
    fill: #fff;
}

.gf-tool li a svg * {
    stroke: transparent;
}

.gf-tool li.t-handle span.gf-tool-label {
    display: flex !important;
    flex-wrap: nowrap;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px !important;
    font-family: Inter, Roboto, Helvetica Neue, sans-serif;
    font-weight: 700;
    letter-spacing: .3px;
    cursor: pointer;
    color: #fff;
}

.gf-tool li.t-handle span {
    display: inline-block;
    float: left;
    line-height: 30px;
    width: 26px;
    height: 30px;
    position: relative;
    cursor: move;
}

.el-card {
    position: relative;
    margin-bottom: 1em;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
}

.delete-btn .el-icon-close {
    vertical-align: middle;
}


.add-btn {
    margin-bottom: 1.5em;
}


.el-carousel {
    width: 100%;
}

.el-carousel .el-carousel__item {
    background-size: cover;
    background-position: center;
}


.el-carousel .content {
    position: absolute;
    bottom: 1.5em;
    left: 2em;
    padding: 20px;
    background: #16191982;

}



.el-carousel .content .title {
    margin: 0;
    font-size: 24px;
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.65);
}

.el-carousel .content .subtitle {
    margin: 12px 0 0 0;
    color: rgba(255, 255, 255, 0.88);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
}


p {
    width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.image {
    max-width: 100%;
}


.heading {
    position: relative;
}

.paper .editing {
    outline: 1px solid #fbb144 !important;
    box-shadow: 0 0 3px #fbb144;
    z-index: 2;
}

.node-block {
    position: relative;
}

.indicator {
    position: fixed;
    /*     background-color: rgb(15, 177, 88); */
    background: repeating-linear-gradient(-45deg, #ccc, #ccc 1px, #f3ebb8 2px, #f3ebb8 5px);
    transition: all 0.3s;
    z-index: 1000;
    pointer-events: none;

}

.indicator.forbidden {
    /*     background-color: rgb(255, 24, 93); */
    display: none;
}


.mp-toolbar-container.gf-r-tool {
    position: absolute;
    background: var(--bg-color);
    left: var(--var-left);
    top: var(--var-top);
    transform: scale(var(--var-scale));
}

.mp-toolbar-container.gf-r-tool-edit {
    position: absolute;
    background: var(--bg-color);
    left: var(--var-left);
    top: var(--var-top);
}

.mp-toolbar-container.mp-toolbar-container-show {
    visibility: visible;
    opacity: 1;
}

.mp-root-toolbar-container ul {
    padding-left: 5px !important;
}

.mp-toolbar-container li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    white-space: nowrap;
}

.mp-toolbar-container.gf-r-tool li a {
    background: var(--bg-color);
}

.mp-toolbar-container.gf-r-tool-edit li a {
    background: var(--bg-color);
}

.mp-toolbar-container li.t-handle a {
    width: auto;
    display: flex !important;
    flex-wrap: nowrap;
}

.mp-toolbar-container li a {
    display: block;
    float: left;
    text-decoration: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 26px;
    height: 30px;
    line-height: 30px;
    color: #fff !important;
    background: red;
    position: relative;
    cursor: pointer;
}

.mp-toolbar-container li.t-handle span {
    display: inline-block;
    float: left;
    line-height: 30px;
    width: 26px;
    height: 30px;
    position: relative;
    cursor: move;
}

.mp-toolbar-container li.t-handle span svg {
    left: 6px;
    transform: translateY(-50%);
}

.mp-toolbar-container li a svg {
    fill: #fff !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    padding: 0 !important;
    width: 14px !important;
    height: 15px !important;
    vertical-align: initial !important;
}

.mp-toolbar-container li.t-handle span.mp-toolbar-container-label {
    display: flex !important;
    flex-wrap: nowrap;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px !important;
    font-family: Inter, Roboto, Helvetica Neue, sans-serif;
    font-weight: 700;
    letter-spacing: .3px;
    cursor: pointer;
    color: #fff;
}

.mp-toolbar-container li .e-edit,
.mp-toolbar-container li.t-wrap-hide {
    display: none !important;
}

.mp-toolbar-container li .e-edit,
.mp-toolbar-container li.t-wrap-show {
    display: flex !important;
}

.mp-toolbar-container,
.mp-toolbar-container li {
    float: left;
    display: flex !important;
    flex-wrap: nowrap;
    height: 30px;
}

.mp-toolbar-container {
    display: none;
}

.sg_equal-height>* {
    visibility: visible;
}

.mp-toolbar-container {
    background: red;
    left: 50%;
    top: 50%;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: 0px 3px 3px 3px;
    transform: translate(-50%, var(--var-tranform-top)) scale(var(--var-scale));
}

.gf-delete,
.mp-toolbar-container {
    position: absolute;
    z-index: 100;
}

.sg_equal-height {
    visibility: hidden;
}


#prevew_builder ::-moz-selection {
    /* Code for Firefox */
    color: #3d4246;
    background: #d3e0a1;
}

#prevew_builder ::selection {
    color: #3d4246;
    background: #d3e0a1;
}

#prevew_builder a.editor_link_selection::selection {
    background: #d3e0a1;
    color: #fff;
}

#prevew_builder .paragraph a,
#prevew_builder .heading a {
    transition: all .5s;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}

.sg-wrap {
    display: block;
    min-height: 5px;
}

.sg-wrap {
    position: relative;
}


.sg-wrap {
    position: relative;
}


.sg-wrap .bl.sg-bl-center {
    display: block !important;
    text-align: center;
    width: 100%;
}

.sg-wrap .bl.sg-bl-left {
    display: block !important;
    text-align: left;
    width: 100%;
}

.sg-wrap .bl.sg-bl-right {
    display: block !important;
    text-align: right;
    width: 100%;
}

.sg-wrap .sg-module.sg-module-center {
    display: block !important;
    text-align: center;
    width: 100%;
}

.sg-wrap .sg-module.sg-module-left {
    display: block !important;
    text-align: left;
    width: 100%;
}

.sg-wrap .sg-module.sg-module-right {
    display: block !important;
    text-align: right;
    width: 100%;
}


@media (max-width: 767px) {
    .sg-wrap .bl.sg-bl-center-xs {
        display: block !important;
        text-align: center;
        width: 100%;
    }

    .sg-wrap .bl.sg-bl-right-xs {
        display: block !important;
        text-align: right;
        width: 100%;
    }

    .sg-wrap .bl.sg-bl-left-xs {
        display: block !important;
        text-align: left;
        width: 100%;
    }

    .sg_column {
        display: block;
    }
}

@media (max-width: 991px) and (min-width: 768px) {}

@media (max-width: 1199px) and (min-width: 992px) {}

@media (min-width: 1200px) {}

.btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 8px 15px;
    background-color: #7796a8;
    color: #fff;
    font-family: Work Sans, HelveticaNeue, Helvetica Neue, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .08em;
    white-space: normal;
    font-size: 14px;
}

a:hover,
a:focus {
    opacity: .6;
}

.btn:hover,
.btn:focus {
    opacity: .6;
}



.sg_button {
    white-space: normal !important;
}

.sg_separator {
    margin: 0;
    padding: 0;
    background: transparent;
    border-top: 1px solid #333;
    width: 100%;
}

hr {
    opacity: 1;
}

.sg-wrap .module .sg-item-content {
    min-height: 50px;
}



a {
    color: #3d4246;
    text-decoration: none;
}

.sg_module-left {
    text-align: left;
}

.sg_row {
    margin-left: -16px;
    margin-right: -16px;
}

.sg_column,
.sg_row {
    position: relative;
    z-index: 1;
}

.sg_row.sg_row-no-padding {
    margin-left: 0;
    margin-right: 0;
}

body .sg_row {
    padding-top: 30px;
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
}


.sg_col-lg-1,
.sg_col-lg-2,
.sg_col-lg-3,
.sg_col-lg-4,
.sg_col-lg-5,
.sg_col-lg-6,
.sg_col-lg-7,
.sg_col-lg-8,
.sg_col-lg-9,
.sg_col-lg-10,
.sg_col-lg-11,
.sg_col-lg-12,
.sg_col-md-1,
.sg_col-md-2,
.sg_col-md-3,
.sg_col-md-4,
.sg_col-md-5,
.sg_col-md-6,
.sg_col-md-7,
.sg_col-md-8,
.sg_col-md-9,
.sg_col-md-10,
.sg_col-md-11,
.sg_col-md-12,
.sg_col-sm-1,
.sg_col-sm-2,
.sg_col-sm-3,
.sg_col-sm-4,
.sg_col-sm-5,
.sg_col-sm-6,
.sg_col-sm-7,
.sg_col-sm-8,
.sg_col-sm-9,
.sg_col-sm-10,
.sg_col-sm-11,
.sg_col-sm-12,
.sg_col-xs-1,
.sg_col-xs-2,
.sg_col-xs-3,
.sg_col-xs-4,
.sg_col-xs-5,
.sg_col-xs-6,
.sg_col-xs-7,
.sg_col-xs-8,
.sg_col-xs-9,
.sg_col-xs-10,
.sg_col-xs-11,
.sg_col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.sg_col-lg-1,
.sg_col-lg-2,
.sg_col-lg-3,
.sg_col-lg-4,
.sg_col-lg-5,
.sg_col-lg-6,
.sg_col-lg-7,
.sg_col-lg-8,
.sg_col-lg-9,
.sg_col-lg-10,
.sg_col-lg-11,
.sg_col-lg-12,
.sg_col-md-1,
.sg_col-md-2,
.sg_col-md-3,
.sg_col-md-4,
.sg_col-md-5,
.sg_col-md-6,
.sg_col-md-7,
.sg_col-md-8,
.sg_col-md-9,
.sg_col-md-10,
.sg_col-md-11,
.sg_col-md-12,
.sg_col-sm-1,
.sg_col-sm-2,
.sg_col-sm-3,
.sg_col-sm-4,
.sg_col-sm-5,
.sg_col-sm-6,
.sg_col-sm-7,
.sg_col-sm-8,
.sg_col-sm-9,
.sg_col-sm-10,
.sg_col-sm-11,
.sg_col-sm-12,
.sg_col-xs-1,
.sg_col-xs-2,
.sg_col-xs-3,
.sg_col-xs-4,
.sg_col-xs-5,
.sg_col-xs-6,
.sg_col-xs-7,
.sg_col-xs-8,
.sg_col-xs-9,
.sg_col-xs-10,
.sg_col-xs-11,
.sg_col-xs-12 {
    float: left;
}

@media (max-width: 767px) {
    .sg_col-xs-1 {
        width: 8.33333%;
    }
    .sg_col-xs-2 {
        width: 16.66667%;
    }
    .sg_col-xs-3 {
        width: 25%;
    }
    .sg_col-xs-4 {
        width: 33.33%;
    }
    .sg_col-xs-5 {
        width: 41.66667%;
    }
    .sg_col-xs-6 {
        width: 50%;
    }
    .sg_col-xs-7 {
        width: 58.33333%;
    }
    .sg_col-xs-8 {
        width: 66.66667%;
    }
    .sg_col-xs-9 {
        width: 75%;
    }
    .sg_col-xs-10 {
        width: 83.33333%;
    }
    .sg_col-xs-11 {
        width: 91.66667%;
    }
    .sg_col-xs-12 {
        width: 100%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .sg_col-sm-1 {
        width: 8.33333%;
    }
    .sg_col-sm-2 {
        width: 16.66667%;
    }
    .sg_col-sm-3 {
        width: 25%;
    }
    .sg_col-sm-4 {
        width: 33.33%;
    }
    .sg_col-sm-5 {
        width: 41.66667%;
    }
    .sg_col-sm-6 {
        width: 50%;
    }
    .sg_col-sm-7 {
        width: 58.33333%;
    }
    .sg_col-sm-8 {
        width: 66.66667%;
    }
    .sg_col-sm-9 {
        width: 75%;
    }
    .sg_col-sm-10 {
        width: 83.33333%;
    }
    .sg_col-sm-11 {
        width: 91.66667%;
    }
    .sg_col-sm-12 {
        width: 100%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .sg_col-md-1 {
        width: 8.33333%;
    }
    .sg_col-md-2 {
        width: 16.66667%;
    }
    .sg_col-md-3 {
        width: 25%;
    }
    .sg_col-md-4 {
        width: 33.33%;
    }
    .sg_col-md-5 {
        width: 41.66667%;
    }
    .sg_col-md-6 {
        width: 50%;
    }
    .sg_col-md-7 {
        width: 58.33333%;
    }
    .sg_col-md-8 {
        width: 66.66667%;
    }
    .sg_col-md-9 {
        width: 75%;
    }
    .sg_col-md-10 {
        width: 83.33333%;
    }
    .sg_col-md-11 {
        width: 91.66667%;
    }
    .sg_col-md-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .sg_col-lg-1 {
        width: 8.33333%;
    }
    .sg_col-lg-2 {
        width: 16.66667%;
    }
    .sg_col-lg-3 {
        width: 25%;
    }
    .sg_col-lg-4 {
        width: 33.33%;
    }
    .sg_col-lg-5 {
        width: 41.66667%;
    }
    .sg_col-lg-6 {
        width: 50%;
    }
    .sg_col-lg-7 {
        width: 58.33333%;
    }
    .sg_col-lg-8 {
        width: 66.66667%;
    }
    .sg_col-lg-9 {
        width: 75%;
    }
    .sg_col-lg-10 {
        width: 83.33333%;
    }
    .sg_col-lg-11 {
        width: 91.66667%;
    }
    .sg_col-lg-12 {
        width: 100%;
    }
}

.sg_row>.sg_column {
    margin: 0;
}

.sg_row-no-padding>.sg_column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

select {
    border: 1px solid #e8e9eb;
    background-color: #fff;
    color: #000;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 2px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-image: url(//cdn.shopify.com/s/files/1/1827/4239/t/1/assets/ico-select.svg?v=1555638…);
    line-height: 1.2;
    text-indent: 0.01px;
    text-overflow: "";
    cursor: pointer;
    padding: 8px 28px 8px 15px;
}

option {
    color: #3d4246;
    background-color: #fff;
}


.sg_module-left .sg_align-module {
    justify-content: flex-start;
}

.sg_align-i-center {
    align-items: center !important;
}

.sg_align-module {
    display: flex !important;
}

.sg-module-center .sg_align-module {
    justify-content: center;
}

.sg-module-left-xs .sg_align-module {
    justify-content: flex-start;
}

.sg-module-right-xs .sg_align-module {
    justify-content: flex-end;
}

.sg_variants-wrapper {
    overflow: hidden;
}




.sg_dropdown,
.sg_icon,
.sg_image,
.sg_product-desc,
.sg_product-image,
.sg_product-price,
.sg_product-quantity,
.sg_product-quantity-wrapper,
.sg_product-title,
.sg_textarea,
.sg_textfield {
    transition: all 0s ease-in-out;
    max-width: 100%;
    display: inline-block !important;
}

.sg_dropdown,
.sg_image,
.sg_product-desc,
.sg_product-image,
.sg_product-price,
.sg_product-quantity,
.sg_product-title,
.sg_textarea,
.sg_textfield {
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: inline-block !important;
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

input,
textarea,
select {
    border: 1px solid #e8e9eb;
    background-color: #fff;
    color: #000;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 2px;
}

input,
textarea {
    padding: 8px 15px;
}

input {
    outline: none;
}

textarea {
    min-height: 100px;
}

.element-background-overlay {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.row-dropper {
    background-color: #F2F3F4;
    position: relative;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}
.row-dropper:hover {
    background-color: #e5e6e8;
    transition: all 0.3s ease;
}
.row-dropper span {
    position: absolute;
    font-size: 13px;
    top: 50%;
    left: 50%;
    color: #a0a0a0;
    transform: translate(-50%, -50%);
}

.drop-element {
    padding: 20px 0;
    background: #E6E8EB;
    color: #A0A0A0;
    transition: all 0.3s ease;
}

.drop-element:hover {
    background: #CCC;
    transition: all 0.3s ease;
}

.drop-element-container {
    width: 100%;
    background-color: #FFF;
    border: 1px dashed #ccc;
    position: relative;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}
.drop-element-container span {
    position: absolute;
    font-size: 13px;
    top: 50%;
    left: 50%;
    color: #a0a0a0;
    transform: translate(-50%, -50%);
}


.sg_row {
    margin-left: -16px;
    margin-right: -16px;
}

.sg_row-no-width {
    max-width: 100% !important;
}


.sg_row.sg_row-no-padding {
    margin-left: 0;
    margin-right: 0;
}


body .sg_row,
body .sg-wrap[data-label=Popup] .sg_row {
    padding-top: 30px;
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
}


.sg_col-lg-1,
.sg_col-lg-2,
.sg_col-lg-3,
.sg_col-lg-4,
.sg_col-lg-5,
.sg_col-lg-6,
.sg_col-lg-7,
.sg_col-lg-8,
.sg_col-lg-9,
.sg_col-lg-10,
.sg_col-lg-11,
.sg_col-lg-12,
.sg_col-md-1,
.sg_col-md-2,
.sg_col-md-3,
.sg_col-md-4,
.sg_col-md-5,
.sg_col-md-6,
.sg_col-md-7,
.sg_col-md-8,
.sg_col-md-9,
.sg_col-md-10,
.sg_col-md-11,
.sg_col-md-12,
.sg_col-sm-1,
.sg_col-sm-2,
.sg_col-sm-3,
.sg_col-sm-4,
.sg_col-sm-5,
.sg_col-sm-6,
.sg_col-sm-7,
.sg_col-sm-8,
.sg_col-sm-9,
.sg_col-sm-10,
.sg_col-sm-11,
.sg_col-sm-12,
.sg_col-xs-1,
.sg_col-xs-2,
.sg_col-xs-3,
.sg_col-xs-4,
.sg_col-xs-5,
.sg_col-xs-6,
.sg_col-xs-7,
.sg_col-xs-8,
.sg_col-xs-9,
.sg_col-xs-10,
.sg_col-xs-11,
.sg_col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.sg_col-xs-1,
.sg_col-xs-2,
.sg_col-xs-3,
.sg_col-xs-4,
.sg_col-xs-5,
.sg_col-xs-6,
.sg_col-xs-7,
.sg_col-xs-8,
.sg_col-xs-9,
.sg_col-xs-10,
.sg_col-xs-11,
.sg_col-xs-12 {
    float: left;
}


@media (max-width: 768px) {
    .sg_column {
        display: block;
    }
}

.element-wrap,
.sg_column,
.sg_row,
.sg-wrap {
    position: relative;
    z-index: 1;
}

.sg_row>.sg_column {
    margin: 0;
}

.sg_row-no-padding>.sg_column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sg-product-list [data-label="Product"].module,
.sg-related-product [data-label="Product"].module {
    outline: none !important;
}

.sg-product-list [data-label="Product"].module>.container-toolbar,
.sg-related-product [data-label="Product"].module>.container-toolbar {
    display: none !important;
}

.sg-article-list [data-label="Article"].module {
    outline: none !important;
}

.sg-article-list [data-label="Article"].module>.container-toolbar {
    display: none !important;
}

body.production .section-wrapper {
    display: none;
}

.production .paper .block:hover {
    outline: none !important;
}

.production .paper .module:hover {
    outline: none !important;
}

.production .container:hover {
    outline: none !important;
}

.production .sg-container:hover {
    outline: none !important;
}

.production .static:hover {
    outline: none !important;
}

.production .editing {
    outline: none !important;
    box-shadow: none !important;
}

.sg_row:after,
.sg_row:before {
    content: " ";
    display: table;
}

.sg_row:after {
    clear: both;
}

.preview-drag {
    position: absolute;
    display: block;
    background-color: #0460e5;
    pointer-events: none;
    z-index: 999999;
    border-radius: 5px;
    padding: 5px;
}

.preview-drag span {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.sg-row {}

.hidden-content {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

.sg_gmaps-overlay,
.sg_vimeo-overlay,
.sg_youtube-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99;
    display: none;
}

.sg_gmaps-overlay.show,
.sg_vimeo-overlay.show,
.sg_youtube-overlay.show {
    display: block !important;
}



.dragging {
    background: #b6cf58;
    z-index: 100;
    height: 50px !important;
    outline: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.dragging .sg-module,
.dragging .text-editor,
.dragging .bl,
.dragging.sg-parallax,
.dragging .sg-image,
.dragging .sg-row,
.dragging .sg-hero-banner,
.dragging .sg-wrapper,
.dragging .sg-accordion-content,
.dragging .sg-static,
.dragging .breadcrumb_wrapper,
.dragging .icon-list-wrapper,
.dragging .sg-pricing-wrapper,
.dragging .count-down-wrap {
    display: none !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

[contenteditable="true"]:focus {
    outline: 1px solid #fbb144 !important;
    box-shadow: 0 0 3px #fbb144;
}


p:last-child {
    margin-bottom: 0;
}


.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

.sg_clearfix:after {
    clear: both;
}

.sg_clearfix:after,
.sg_clearfix:before {
    content: " ";
    display: table;
}


@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
}

.pointer {
    cursor: pointer;
}

.icon-copy {
    position: relative;
}

.toast-absolute {
    position: absolute;
    width: fit-content;
    right: 0;
    color: white;
    background: #333;
}

.production .sg-hidden {
    display: none !important;
}

.sg-hidden-text {
    display: none !important;
}



/* .production .sg-show{
    display: none !important;
} */

/* The snackbar - position it at the bottom and in the middle of the screen */
.sg-snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
    transform: translate(-50%);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.sg-snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.msg-success {
    background-color: rgb(66, 155, 2) !important;
}

.msg-error {
    background-color: rgb(249, 7, 7) !important;
}

.msg-info {
    background-color: rgb(73, 132, 250) !important;
}

.sg-button:hover {
    opacity: 1;
}

@media (min-width: 1200px) {
    .sg-wrap .sg-module.sg_module-center-lg {
        display: block !important;
        text-align: center;
        width: 100%;
    }

    .sg-wrap .sg-module.sg_module-left-lg {
        text-align: left;
    }

    .sg-wrap .sg-module.sg_module-right-lg {
        display: block !important;
        text-align: right;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sg-wrap .sg-module.sg_module-center-md {
        display: block !important;
        text-align: center;
        width: 100%;
    }

    .sg-wrap .sg-module.sg_module-left-md {
        text-align: left;
    }

    .sg-wrap .sg-module.sg_module-right-md {
        display: block !important;
        text-align: right;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sg-wrap .sg-module.sg_module-center-sm {
        display: block !important;
        text-align: center;
        width: 100%;
    }

    .sg-wrap .sg-module.sg_module-left-sm {
        text-align: left;
    }

    .sg-wrap .sg-module.sg_module-right-sm {
        display: block !important;
        text-align: right;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .sg-wrap .sg-module.sg_module-center-xs {
        display: block !important;
        text-align: center;
        width: 100%;
    }

    .sg-wrap .sg-module.sg_module-left-xs {
        text-align: left;
    }

    .sg-wrap .sg-module.sg_module-right-xs {
        display: block !important;
        text-align: right;
        width: 100%;
    }
}

.sg-wrap .sg-module .item-content {
    min-height: 50px;
}


.sg_row:before {
    display: none !important;
}


.preview.editor_dragging .is-dragging .r-handle {
    display: none !important;
}


.editor_dragging .indicator {
    z-index: 9999999;
}


.button-contact-vr {
    margin: -10px;
}

.button-contact-vr {
    transform: scale(0.8);
}

.button-contact-vr {
    position: fixed;
    bottom: 0;
    z-index: 99999;
}

.button-contact-vr.right-bottom{
    right: 0;
}

.button-contact-vr.right-top{
    bottom: unset;
    top: 0;
    right: 0;
}

.button-contact-vr.left-top{
    top: 0;
    bottom: unset;
}


@-webkit-keyframes phone-vr-circle-fill {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes zoom {
    0% {
        transform: scale(.9)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px transparent
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 transparent
    }
}
