.preview {
    background-color: #CCC;
    overflow: auto;

    transition: 0.2s left, 0.2s right;
    transition-timing-function: ease-in-out;

}

.preview.disable {
    left: 0;
    right: 0;
}

.preview .desktop {
    width: 100%;
}

.preview .laptop {
    width: 1005px;
    margin: auto;
}

.preview .tablet {
    width: 780px;
    margin: auto;
}

.preview .mobile {
    width: 480px;
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    .preview {
        left: 0
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .preview {
        left: 260px;
    }
}


.paper {
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 14px 24px -6px #474d4730;
    background-color: white;
}

.paper .cf-node-selected {}

.paper .block:hover {
    outline: #42c184 solid 1px;
}

.paper .module:hover {
    outline: #e82b71 solid 1px;
}

@media only screen and (min-width: 1400px) {
    .paper .container {
        max-width: 100%;
    }
}

.header {
    height: 60px;
    background: #202124;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.logo-container {
    width: 285px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
}

.button {
    padding: 10px 25px;
    color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #333333;
    transition: all 0.2s ease;
}

.button svg {
    stroke: #FFF
}

.button .icon {
    padding: 10px 15px;
}

.button:hover {
    background: #555555;
    transition: all 0.2 ease;
}

.screen-inner {
    display: flex;
    height: 100%;
}

.screen-inner div {
    display: flex;
    align-items: center;
    padding: 0px 12px;
    height: 100%;
    cursor: pointer;
}

.screen-inner div.selected {
    border-bottom: 2px solid #FFF;
    background-color: #333333;
    cursor: default;
}

.screen-inner div:hover {
    background: #333333;
}

.button-list {
    display: flex;
}

.button-list div {
    margin: 0px 3px;
}

.button-list div:last-child {
    margin-right: 0px;
}

.paper {
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 14px 24px -6px #474d4730;
    background-color: white;
}

.paper .cf-node-selected {}




.paper .block:hover {
    outline: #42c184 solid 1px;
}





.container {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paper .container {
    max-width: 100% !important;
    display: block;
}


.container:hover {
    outline: 1px solid #0060e5;
}

.container .container-toolbar {
    display: none;
}

.container-toolbar-show {
    display: block !important;
}

.block {
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    position: relative;
}

.heading {
    width: 100%;
    position: relative;
}

.text-editor {
    position: relative;
}

.dragging {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: greenyellow;
    z-index: 10;
}

.container .container-toolbar {
    display: none;
}

.container-toolbar-show {
    display: block !important;
}

ul.gf-tool {
    margin-bottom: 0;
    overflow: visible;

}

.gf-tool.gf-tool-show {
    visibility: visible;
    opacity: 1;

}

.gf-tool.hidden {
    visibility: hidden;
}

.t-handle {
    cursor: move;
}

.t-handle .preview {
    width: 100px;
    height: 100px;
    background: red;
    z-index: 2;
    position: absolute;
}

.t-handle .hidden {
    visibility: hidden;
}

.gf-tool.gf-e-tool,
.gf-tool.gf-e-tool li a {
    background: #42c184;
}

.gryffeditor ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.gf-tool {
    display: none;
}

.gf-tool,
.gf-tool li {
    float: left;
    display: flex !important;
    flex-wrap: nowrap;
    height: 30px;
}

.gf-tool {
    background: red;
    left: 50%;
    top: 50%;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: 3px;
    transform: translate(-50%, -50%) scale(.8);
}

.gf-delete,
.gf-tool {
    position: absolute;
    z-index: 11;
}

.gf-tool.gf-e-tool,
.gf-tool.gf-e-tool li a {
    background: #42c184;
}

.gf-tool li.t-handle a {
    width: auto;
    display: flex !important;
    flex-wrap: nowrap;
}

.gf-tool li a {
    display: block;
    float: left;
    text-decoration: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 26px;
    height: 30px;
    line-height: 30px;
    color: #fff !important;
    background: red;
    position: relative;
    cursor: pointer;
}

.gf-tool li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    white-space: nowrap;
}

.gf-tool,
.gf-tool li {
    float: left;
    display: flex !important;
    flex-wrap: nowrap;
    height: 30px;
}

.gf-tool li.t-handle span {
    display: inline-block;
    float: left;
    line-height: 30px;
    width: 26px;
    height: 30px;
    position: relative;
    cursor: move;
}

.gf-tool li.t-handle span svg {
    left: 6px;
    transform: translateY(-50%);
}

.gf-tool li a svg {
    fill: #fff !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    padding: 0 !important;
    width: 14px !important;
    height: 15px !important;
    vertical-align: initial !important;
}

.gf-tool li a svg path {
    fill: #fff;
}

.gf-tool li a svg * {
    stroke: transparent;
}

.gf-tool li.t-handle span.gf-tool-label {
    display: flex !important;
    flex-wrap: nowrap;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px !important;
    font-family: Inter, Roboto, Helvetica Neue, sans-serif;
    font-weight: 700;
    letter-spacing: .3px;
    cursor: pointer;
    color: #fff;
}

.gf-tool li.t-handle span {
    display: inline-block;
    float: left;
    line-height: 30px;
    width: 26px;
    height: 30px;
    position: relative;
    cursor: move;
}

.el-card {
    position: relative;
    margin-bottom: 1em;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
}

.delete-btn .el-icon-close {
    vertical-align: middle;
}


.add-btn {
    margin-bottom: 1.5em;
}


.el-carousel {
    width: 100%;
}

.el-carousel .el-carousel__item {
    background-size: cover;
    background-position: center;
}


.el-carousel .content {
    position: absolute;
    bottom: 1.5em;
    left: 2em;
    padding: 20px;
    background: #16191982;

}



.el-carousel .content .title {
    margin: 0;
    font-size: 24px;
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.65);
}

.el-carousel .content .subtitle {
    margin: 12px 0 0 0;
    color: rgba(255, 255, 255, 0.88);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
}


p {
    width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.image {
    max-width: 100%;
}


.heading {
    position: relative;
}

.paper .editing {
    outline: 1px solid #fbb144 !important;
    box-shadow: 0 0 3px #fbb144;
}

.node-block {
    position: relative;
}

.indicator {
    position: fixed;
    background-color: rgb(15, 177, 88);
    transition: all 0.3s;
    z-index: 1000;


}

.indicator.forbidden {
    background-color: rgb(255, 24, 93);
}


.mp-toolbar-container.gf-r-tool {
    position: absolute;
    background: var(--bg-color);
    left: var(--var-left);
    top: var(--var-top);
    transform: scale(var(--var-scale));
}

.mp-toolbar-container.gf-r-tool-edit {
    position: absolute;
    background: var(--bg-color);
    left: var(--var-left);
    top: var(--var-top);
}

.mp-toolbar-container.mp-toolbar-container-show {
    visibility: visible;
    opacity: 1;
}

.mp-root-toolbar-container ul {
    padding-left: 5px !important;
}

.mp-toolbar-container li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    white-space: nowrap;
}

.mp-toolbar-container.gf-r-tool li a {
    background: var(--bg-color);
}

.mp-toolbar-container.gf-r-tool-edit li a {
    background: var(--bg-color);
}

.mp-toolbar-container li.t-handle a {
    width: auto;
    display: flex !important;
    flex-wrap: nowrap;
}

.mp-toolbar-container li a {
    display: block;
    float: left;
    text-decoration: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 26px;
    height: 30px;
    line-height: 30px;
    color: #fff !important;
    background: red;
    position: relative;
    cursor: pointer;
}

.mp-toolbar-container li.t-handle span {
    display: inline-block;
    float: left;
    line-height: 30px;
    width: 26px;
    height: 30px;
    position: relative;
    cursor: move;
}

.mp-toolbar-container li.t-handle span svg {
    left: 6px;
    transform: translateY(-50%);
}

.mp-toolbar-container li a svg {
    fill: #fff !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    padding: 0 !important;
    width: 14px !important;
    height: 15px !important;
    vertical-align: initial !important;
}

.mp-toolbar-container li.t-handle span.mp-toolbar-container-label {
    display: flex !important;
    flex-wrap: nowrap;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px !important;
    font-family: Inter, Roboto, Helvetica Neue, sans-serif;
    font-weight: 700;
    letter-spacing: .3px;
    cursor: pointer;
    color: #fff;
}

.mp-toolbar-container li .e-edit,
.mp-toolbar-container li.t-wrap-hide {
    display: none !important;
}

.mp-toolbar-container li .e-edit,
.mp-toolbar-container li.t-wrap-show {
    display: flex !important;
}

.mp-toolbar-container,
.mp-toolbar-container li {
    float: left;
    display: flex !important;
    flex-wrap: nowrap;
    height: 30px;
}

.mp-toolbar-container {
    display: none;
}

.gf_equal-height>* {
    visibility: visible;
}

.mp-toolbar-container {
    background: red;
    left: 50%;
    top: 50%;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: 0px 3px 3px 3px;
    transform: translate(-50%, var(--var-tranform-top) ) scale(var(--var-scale));
}

.gf-delete,
.mp-toolbar-container {
    position: absolute;
    z-index: 11;
}

.gf_equal-height {
    visibility: hidden;
}


#prevew_builder ::-moz-selection {
    /* Code for Firefox */
    color: #3d4246;
    background: #d3e0a1;
}

#prevew_builder ::selection {
    color: #3d4246;
    background: #d3e0a1;
}

#prevew_builder a.editor_link_selection::selection {
    background: #d3e0a1;
    color: #fff;
}

#prevew_builder .paragraph a,
#prevew_builder .heading a {
    transition: all .5s;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}

.sg-wrap {
    display: block;
    min-height: 5px;
}

.sg-wrap {
    position: relative;
    z-index: 1;
}


.sg-wrap {
    position: relative;
}


.sg-wrap .bl.sg-bl-center {
    display: block !important;
    text-align: center;
    width: 100%;
}

.sg-wrap .bl.sg-bl-left {
    display: block !important;
    text-align: left;
    width: 100%;
}

.sg-wrap .bl.sg-bl-right {
    display: block !important;
    text-align: right;
    width: 100%;
}

.sg-wrap .sg-module.sg-module-center {
    display: block !important;
    text-align: center;
    width: 100%;
}

.sg-wrap .sg-module.sg-module-left {
    display: block !important;
    text-align: left;
    width: 100%;
}

.sg-wrap .sg-module.sg-module-right {
    display: block !important;
    text-align: right;
    width: 100%;
}


@media (max-width: 767px) {
    .sg-wrap .bl.sg-bl-center-xs {
        display: block !important;
        text-align: center;
        width: 100%;
    }

    .sg-wrap .bl.sg-bl-right-xs {
        display: block !important;
        text-align: right;
        width: 100%;
    }

    .sg-wrap .bl.sg-bl-left-xs {
        display: block !important;
        text-align: left;
        width: 100%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {}

@media (max-width: 1199px) and (min-width: 992px) {}

@media (min-width: 1200px) {}

.btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 8px 15px;
    background-color: #7796a8;
    color: #fff;
    font-family: Work Sans, HelveticaNeue, Helvetica Neue, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .08em;
    white-space: normal;
    font-size: 14px;
}

a:hover,
a:focus {
    opacity: .6;
}

.btn:hover,
.btn:focus {
    opacity: .6;
}



.sg_button {
    white-space: normal !important;
}

.sg_separator {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: transparent;
    border-top: 1px solid #333;
    width: 100%;
}

hr {
    opacity: 1;
}

.sg-wrap .module .sg-item-content {
    min-height: 50px;
}


