

.sg-wrap[data-label=Popup] {
    max-width: 100%;
    max-height: 100%;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 600px;
    height: 400px;
    transform: translate(-50%,-50%);
    z-index: 9999991;
}

@media (max-width: 767px){
    .sg-wrap[data-label=Popup] {
        max-width: 86%;
        max-height: 80%;
    }
}

.sg-wrap[data-label=Popup].showPopup {
    display: block!important;
}

.sg-wrap[data-label=Popup][data-postion=center-center] {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sg-wrap[data-label=Popup][data-postion=center-center][data-effects=fade] {
    -webkit-animation-name: stringdFadegfPopupCenterCenter;
    animation-name: stringdFadegfPopupCenterCenter;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    margin-left: 0;
    transform: translate(-50%,-50%) scale(1) rotateY(0);
}

.sg-closePopup {
    width: 24px;
    height: 24px;
    fill: #414141;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 0;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999992;
}

.sg-wrap[data-label=Popup]>.sg-module {
    padding: 30px!important;
    overflow-y: auto;
    height: 100%;
}


.showPopup .container-toolbar {
    display: none;
}

.showPopup .container-toolbar-show {
    display: block !important;
}

.showPopup.module:hover {
    outline: #e82b71 solid 1px;
}

.sg-popupOverlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    display: none;
}

.sg-popupOverlay[data-effects="3d-unfold"], .sg-popupOverlay[data-effects=fade], .sg-popupOverlay[data-effects=horizontal-move], .sg-popupOverlay[data-effects=vertical-move], .sg-popupOverlay[data-effects=zoom-out], .sg-popupOverlay[data-effects=zoom] {
    -webkit-animation-name: sgPopupZoomInBg;
    animation-name: sgPopupZoomInBg;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.sg-popupAnchorList {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-height: 95%;
    z-index: 99999991;
}

.sg-popupAnchorList {
    display: flex;
    flex-direction: column;
    width: 40px;
    justify-content: center;
}

.sg-popupAnchor {
    width: 40px;
    max-height: 90px;
    background: orange;
    cursor: pointer;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 2px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .4px;
    transition: box-shadow .2s,transform .2s,background .2s ease-in-out;
}

.sg-popupAnchor.sg-popupOff {
    opacity: .6;
}

.sg-popupAnchor:hover {
    opacity: 1;
}

.sg-popupAnchorList .sg-popupAnchor {
    flex-grow: 1;
    flex-shrink: 3;
    overflow-x: hidden;
    flex-basis: 90px;
}


.sg-popupAnchorList .sg-popupAnchor:hover, .sg-popupAnchorList .sg-popupAnchor:not(.sg-popupOff) {
    flex-shrink: 1;
    opacity: 1;
}

.sg-popupAnchorList .sg-popupAnchor span {
    display: inline-block;
    height: 100%;
}

