.sg-wrap[data-label=Popup] {
    max-width: 100%;
    max-height: 100%;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 600px;
    height: 400px;
    transform: translate(-50%,-50%);
    z-index: 9999991;
}

/* @media (max-width: 767px){
    .sg-wrap[data-label=Popup] {
        max-width: 86%;
        max-height: 80%;
    }
} */

.sg-wrap[data-label=Popup].showPopup {
    display: block!important;
}

.sg-wrap[data-label=Popup][data-postion=center-center] {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}





.sg-wrap[data-label=Popup][data-postion=center-center][data-effects=fade] {
    -webkit-animation-name: stringdFadegfPopupCenterCenter;
    animation-name: stringdFadegfPopupCenterCenter;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    margin-left: 0;
    transform: translate(-50%,-50%) scale(1) rotateY(0);
}

.sg-closePopup {
    width: 24px;
    height: 24px;
    fill: #414141;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 0;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999992;
}

.sg-wrap[data-label=Popup]>.sg-module {
    padding: 30px!important;
    overflow-y: auto;
    height: 100%;
}


.showPopup .container-toolbar {
    display: none;
}

.showPopup .container-toolbar-show {
    display: block !important;
}

.showPopup.module:hover {
    outline: #e82b71 solid 1px;
}

.showPopup .module:hover {
    outline: #e82b71 solid 1px;
}

.showPopup .block:hover {
    outline: #42c184 solid 1px;
    z-index: 1;
}

.showPopup .module.dynamic:hover {
    outline: #9900FF solid 1px;
    z-index: 1;
}

.production .showPopup.module:hover {
    outline: none;
}

.production .showPopup .block{
    outline: none;
}

.production .showPopup .module{
    outline: none;
}

.production .showPopup .module.dynamic{
    outline: none;
}




.sg-popupOverlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    display: none;
}

.sg-popupOverlay[data-effects="3d-unfold"], .sg-popupOverlay[data-effects=fade], .sg-popupOverlay[data-effects=horizontal-move], .sg-popupOverlay[data-effects=vertical-move], .sg-popupOverlay[data-effects=zoom-out], .sg-popupOverlay[data-effects=zoom] {
    -webkit-animation-name: sgPopupZoomInBg;
    animation-name: sgPopupZoomInBg;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.sg-popupAnchorList {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-height: 95vh;
    z-index: 99999991;
    width: 40px;
    overflow-y: auto;
    
}

.sg-popupAnchor {
    width: 40px;
    height: fit-content;
    padding: 8px 0px;
    background: orange;
    cursor: pointer;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 2px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .4px;
    transition: box-shadow .2s,transform .2s,background .2s ease-in-out;
}

.sg-popupAnchor.sg-popupOff {
    opacity: .6;
}

.sg-popupAnchor:hover {
    opacity: 1;
}

.sg-popupAnchorList .sg-popupAnchor {
    flex-grow: 1;
    flex-shrink: 3;
    overflow-x: hidden;
    flex-basis: 90px;
}


.sg-popupAnchorList .sg-popupAnchor:hover, .sg-popupAnchorList .sg-popupAnchor:not(.sg-popupOff) {
    flex-shrink: 1;
    opacity: 1;
}

.sg-popupAnchorList .sg-popupAnchor span {
    display: inline-block;
    height: 100%;
    user-select: none;
}

.sg-closePopup svg {
    width: 12px;
    height: 12px;
    fill: inherit;
    float: left;
}

.sg_featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
}

.sg_featherlight * {
    box-sizing: border-box;
}

.sg_featherlight:last-of-type {
    background: rgba(0,0,0,.8);
}

#sg_featherlight-v4.sg_featherlight {
    background-color: rgba(51, 51, 51, 0.8);
}
.sg_featherlight:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.sg_featherlight .sg_featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding: 25px;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal;
    min-width: 100px;
    min-height: 100px;
}

@media only screen and (max-width: 1024px){
    .sg_featherlight .sg_featherlight-content {
        margin-left: 0;
        margin-right: 0;
        max-height: 96%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }

    #sg_featherlight-v4 .sg_featherlight-content {
        width: 100%;
    }
}


#sg_featherlight-v4.sg_featherlight .sg_featherlight-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.sg_featherlight .sg_featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    font-size: 30px;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
    text-align: center;
    font-family: Arial,sans-serif;
    background: #fff;
    background: hsla(0,0%,100%,.3);
    color: #000;
    border: 0;
    padding: 0;
}


.sg_featherlight-next, .sg_featherlight-previous {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 0;
    left: 80%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: transparent;
}

.sg_featherlight-next span, .sg_featherlight-previous span {
    display: none;
    position: absolute;
    top: 50%;
    left: 5%;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin-top: -40px;
    text-shadow: 0 0 5px #fff;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sg_featherlight-v4 .sg_featherlight-next span, #sg_featherlight-v4 .sg_featherlight-previous span {
    display: flex;
    position: static;
    margin-top: -45px;
    background: rgba(214,214,214,.25);
    opacity: 0;
}

#sg_featherlight-v4 .sg_featherlight-next:hover span, #sg_featherlight-v4 .sg_featherlight-previous:hover span{
    opacity: 1;
}

.sg_featherlight-previous {
    left: 25px;
    right: 80%;
}

@media only screen and (max-width: 1024px){
    .sg_featherlight-next, .sg_featherlight-previous {
        top: 10px;
        right: 10px;
        left: 85%;
    }
    .sg_featherlight-previous {
        left: 10px;
        right: 85%;
    }

    #sg_featherlight-v4 .sg_featherlight-next span, #sg_featherlight-v4 .sg_featherlight-previous span {
        display: flex;
        height: 40px;
        width: 40px;
        margin-top: -20px;
        opacity: 1;
    }

    .sg_featherlight-next span, .sg_featherlight-previous span {
        font-size: 40px;
    }
    
}


#sg_featherlight-v4 .sg_featherlight-next, #sg_featherlight-v4 .sg_featherlight-previous {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    bottom: auto;
    z-index: 999;
}

#sg_featherlight-v4 .sg_featherlight-previous {
    right: auto;
    left: 0;
}


.sg_featherlight-loading {
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: visibility 0s,opacity .3s;
}

.sg_featherlight .sg_featherlight-image {
    max-width: 100%;
    max-height: 100%;
}

#sg_featherlight-v4 .sg_featherlight-item {
    max-width: 100%;
}

#sg_featherlight-v4 video, #sg_featherlight-v4 iframe, #sg_featherlight-v4 img {
    max-width: 100%;
}

.sg_featherlight-next span svg, .sg_featherlight-previous span svg {
    width: 34px;
    fill: #9c9c9c;
}

@media only screen and (max-width: 1024px){
    .sg_featherlight-next span svg, .sg_featherlight-previous span svg {
        width: 26px;
        fill: #9c9c9c;
    }
}
@media only screen and (max-width: 769px){
    .sg_featherlight-next span svg, .sg_featherlight-previous span svg {
        width: 20px;
        fill: #9c9c9c;
    }
}







